<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.featherball.mapper.BalanceRecordMapper">

    <resultMap type="BalanceRecord" id="BalanceRecordResult">
        <id property="recordId" column="record_id"/>
        <result property="userId" column="user_id"/>
        <result property="venueId" column="venue_id"/>
        <result property="transactionType" column="transaction_type"/>
        <result property="transactionAmount" column="transaction_amount"/>
        <result property="transactionTime" column="transaction_time"/>
        <result property="balance" column="balance"/>
    </resultMap>

    <!-- 查询所有余额记录 -->
    <select id="getAllBalanceRecords" resultMap="BalanceRecordResult">
        SELECT * FROM cfcr_balance_record order by transaction_time desc
    </select>

    <!-- 根据userId查询订单记录 -->
    <select id="getBalanceRecordsByUserId" parameterType="Long" resultMap="BalanceRecordResult">
        SELECT * FROM cfcr_balance_record WHERE user_id = #{userId} order by transaction_time desc
    </select>

    <!-- 根据venueId查询订单记录 -->
    <select id="getBalanceRecordsByVenueId" parameterType="Long" resultMap="BalanceRecordResult">
        SELECT * FROM cfcr_balance_record WHERE venue_id = #{venueId} order by transaction_time desc
    </select>

    <!-- 根据主键查询订单记录 -->
    <select id="getBalanceRecordById" parameterType="Long" resultMap="BalanceRecordResult">
        SELECT * FROM cfcr_balance_record WHERE record_id = #{recordId} order by transaction_time desc
    </select>

    <select id="getBalanceTotalByType" parameterType="integer" resultType="java.math.BigDecimal">
        SELECT SUM(transaction_amount)
        FROM cfcr_balance_record
        WHERE transaction_type != 0 and transaction_type = #{transactionType}
        GROUP BY transaction_type
    </select>

    <!-- 添加余额记录 -->
    <insert id="addBalanceRecord" parameterType="BalanceRecord">
        INSERT INTO cfcr_balance_record (user_id, venue_id, transaction_type, transaction_amount, transaction_time, balance)
        VALUES (#{userId}, #{venueId}, #{transactionType}, #{transactionAmount}, #{transactionTime}, #{balance})
    </insert>

</mapper>
