<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.featherball.mapper.CourtMapper">

    <resultMap type="Court" id="CourtResultMap">
        <id property="courtId" column="court_id"/>
        <result property="venueId" column="venue_id"/>
        <result property="courtNumber" column="court_number"/>
        <result property="courtStatus" column="court_status"/>
        <result property="courtFee" column="court_fee"/>
        <result property="courtVip" column="court_vip"/>
        <result property="trainerId" column="trainer_id"/>
    </resultMap>

    <!-- 获取所有场地 -->
    <select id="getAllCourts" resultMap="CourtResultMap">
        SELECT * FROM cfcr_court
    </select>

    <!-- 根据场地ID获取场地信息 -->
    <select id="getCourtById" parameterType="long" resultMap="CourtResultMap">
        SELECT * FROM cfcr_court WHERE court_id = #{courtId}
    </select>

    <!-- 添加场地 -->
    <insert id="addCourt" parameterType="Court">
        INSERT INTO cfcr_court (venue_id, court_number, court_status, court_fee, court_vip, trainer_id)
        VALUES (#{venueId}, #{courtNumber}, #{courtStatus}, #{courtFee}, #{courtVip}, #{trainerId})
    </insert>

    <!-- 更新场地信息 -->
    <update id="updateCourt" parameterType="Court">
        UPDATE cfcr_court SET venue_id = #{venueId}, court_number = #{courtNumber}, court_status = #{courtStatus},
                              court_fee = #{courtFee}, court_vip = #{courtVip}, trainer_id = #{trainerId}
        WHERE court_id = #{courtId}
    </update>

    <!-- 删除场地 -->
    <delete id="deleteCourt" parameterType="Long">
        DELETE FROM cfcr_court WHERE court_id = #{courtId}
    </delete>

    <select id="countByCourtNumber" resultType="int">
        SELECT COUNT(*) FROM cfcr_court WHERE venue_id = #{venueId} and court_number = #{courtNumber}
    </select>

    <select id="countByVenueId" parameterType="Long" resultType="int">
        SELECT COUNT(*) FROM cfcr_court WHERE venue_id = #{venueId}
    </select>


</mapper>

