<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.featherball.mapper.EquipmentRepairMapper">

    <resultMap type="EquipmentRepair" id="EquipmentRepairResultMap">
        <id property="equipmentRepairId" column="equipment_repair_id"/>
        <result property="venueId" column="venue_id"/>
        <result property="equipmentRepairType" column="equipment_repair_type"/>
        <result property="equipmentRepairFee" column="equipment_repair_fee"/>
    </resultMap>

    <!-- 获取所有商品维修记录 -->
    <select id="getAllEquipmentRepairs" resultMap="EquipmentRepairResultMap">
        SELECT * FROM cfcr_equipment_repair
    </select>

    <!-- 根据商品维修记录ID获取商品维修记录信息 -->
    <select id="getEquipmentRepairById" parameterType="long" resultMap="EquipmentRepairResultMap">
        SELECT * FROM cfcr_equipment_repair WHERE equipment_repair_id = #{equipmentRepairId}
    </select>

    <!-- 添加商品维修记录 -->
    <insert id="addEquipmentRepair" parameterType="EquipmentRepair">
        INSERT INTO cfcr_equipment_repair (venue_id, equipment_repair_type, equipment_repair_fee)
        VALUES (#{venueId}, #{equipmentRepairType}, #{equipmentRepairFee})
    </insert>

    <!-- 更新商品维修记录信息 -->
    <update id="updateEquipmentRepair" parameterType="EquipmentRepair">
        UPDATE cfcr_equipment_repair SET venue_id = #{venueId}, equipment_repair_type = #{equipmentRepairType},
                                         equipment_repair_fee = #{equipmentRepairFee}
        WHERE equipment_repair_id = #{equipmentRepairId}
    </update>

    <!-- 删除商品维修记录 -->
    <delete id="deleteEquipmentRepair" parameterType="Long">
        DELETE FROM cfcr_equipment_repair WHERE equipment_repair_id = #{equipmentRepairId}
    </delete>

</mapper>
