<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.featherball.mapper.EquipmentPurchaseMapper">

    <resultMap type="EquipmentPurchase" id="EquipmentPurchaseResultMap">
        <id property="equipmentPurchaseId" column="equipment_purchase_id"/>
        <result property="venueId" column="venue_id"/>
        <result property="equipmentPurchaseType" column="equipment_purchase_type"/>
        <result property="equipmentPurchaseNumber" column="equipment_purchase_number"/>
        <result property="equipmentPurchaseFee" column="equipment_purchase_fee"/>
    </resultMap>

    <!-- 获取所有商品购买记录 -->
    <select id="getAllEquipmentPurchases" resultMap="EquipmentPurchaseResultMap">
        SELECT * FROM cfcr_equipment_purchase
    </select>

    <!-- 根据商品购买记录ID获取商品购买记录信息 -->
    <select id="getEquipmentPurchaseById" parameterType="long" resultMap="EquipmentPurchaseResultMap">
        SELECT * FROM cfcr_equipment_purchase WHERE equipment_purchase_id = #{equipmentPurchaseId}
    </select>

    <!-- 添加商品购买记录 -->
    <insert id="addEquipmentPurchase" parameterType="EquipmentPurchase">
        INSERT INTO cfcr_equipment_purchase (venue_id, equipment_purchase_type, equipment_purchase_number, equipment_purchase_fee)
        VALUES (#{venueId}, #{equipmentPurchaseType}, #{equipmentPurchaseNumber}, #{equipmentPurchaseFee})
    </insert>

    <!-- 更新商品购买记录信息 -->
    <update id="updateEquipmentPurchase" parameterType="EquipmentPurchase">
        UPDATE cfcr_equipment_purchase SET venue_id = #{venueId}, equipment_purchase_type = #{equipmentPurchaseType},
                                           equipment_purchase_number = #{equipmentPurchaseNumber}, equipment_purchase_fee = #{equipmentPurchaseFee}
        WHERE equipment_purchase_id = #{equipmentPurchaseId}
    </update>

    <!-- 删除商品购买记录 -->
    <delete id="deleteEquipmentPurchase" parameterType="Long">
        DELETE FROM cfcr_equipment_purchase WHERE equipment_purchase_id = #{equipmentPurchaseId}
    </delete>

</mapper>
