<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.featherball.mapper.ReservationMapper">

    <resultMap type="Reservation" id="ReservationResult">
        <id property="reservationId" column="reservation_id"/>
        <result property="userId" column="user_id"/>
        <result property="courtId" column="court_id"/>
        <result property="trainerId" column="trainer_id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="reservationStatus" column="reservation_status"/>
    </resultMap>

    <!-- 查询所有预约信息 -->
    <select id="getAllReservations" resultMap="ReservationResult">
        SELECT * FROM cfcr_reservation order by reservation_id desc
    </select>

    <!-- 根据预约ID查询预约信息 -->
    <select id="getReservationById" parameterType="Long" resultMap="ReservationResult">
        SELECT * FROM cfcr_reservation WHERE reservation_id = #{reservationId}
    </select>

    <!-- 根据场地ID查询预约信息 -->
    <select id="getReservationByCourtId" parameterType="Long" resultMap="ReservationResult">
        SELECT * FROM cfcr_reservation WHERE court_id = #{couryId}
    </select>

    <!-- 根据场地ID查询预约信息 -->
    <select id="getReservationByUserId" parameterType="Long" resultMap="ReservationResult">
        SELECT * FROM cfcr_reservation WHERE user_id = #{userId} order by reservation_id desc
    </select>

    <!-- 添加预约信息 -->
    <insert id="addReservation" parameterType="Reservation">
        INSERT INTO cfcr_reservation (user_id, court_id, trainer_id, start_time, end_time, reservation_status)
        VALUES (#{userId}, #{courtId}, #{trainerId}, #{startTime}, #{endTime}, #{reservationStatus})
    </insert>

    <!-- 更新预约信息 -->
    <update id="updateReservation" parameterType="Reservation">
        UPDATE cfcr_reservation SET user_id = #{userId},
                                    court_id = #{courtId},
                                    trainer_id = #{trainerId},
                                    start_time = #{startTime},
                                    end_time = #{endTime},
                                    reservation_status = #{reservationStatus}
        WHERE reservation_id = #{reservationId}
    </update>

    <!-- 删除预约信息 -->
    <delete id="deleteReservation" parameterType="Long">
        DELETE FROM cfcr_reservation WHERE reservation_id = #{reservationId}
    </delete>

</mapper>
