<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.featherball.mapper.VenueMapper">

    <resultMap type="Venue" id="VenueResult">
        <id property="venueId" column="venue_id"/>
        <result property="venueName" column="venue_name"/>
        <result property="venueAddress" column="venue_address"/>
        <result property="venueContact" column="venue_contact"/>
        <result property="venueDescription" column="venue_description"/>
        <result property="isShower" column="is_shower"/>
        <result property="isOutdoor" column="is_outdoor"/>
    </resultMap>

    <!-- 获取所有场馆 -->
    <select id="getAllVenues" resultMap="VenueResult">
        SELECT * FROM cfcr_venue
    </select>

    <!-- 根据场馆ID获取场馆信息 -->
    <select id="getVenueById" parameterType="Long" resultMap="VenueResult">
        SELECT * FROM cfcr_venue WHERE venue_id = #{venueId}
    </select>

    <!-- 添加场馆 -->
    <insert id="addVenue" parameterType="Venue">
        INSERT INTO cfcr_venue (venue_name, venue_address, venue_contact, venue_description, is_shower, is_outdoor)
        VALUES (#{venueName}, #{venueAddress}, #{venueContact}, #{venueDescription}, #{isShower}, #{isOutdoor})
    </insert>

    <!-- 更新场馆信息 -->
    <update id="updateVenue" parameterType="Venue">
        UPDATE cfcr_venue SET venue_name = #{venueName}, venue_address = #{venueAddress},
                              venue_contact = #{venueContact}, venue_description = #{venueDescription},
                              is_shower = #{isShower}, is_outdoor = #{isOutdoor}
        WHERE venue_id = #{venueId}
    </update>

    <!-- 删除场馆 -->
    <delete id="deleteVenue" parameterType="Long">
        DELETE FROM cfcr_venue WHERE venue_id = #{venueId}
    </delete>

</mapper>
