<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.GymCourseMapper">

    <resultMap id="BaseResultMap" type="generator.domain.GymCourse">
            <id property="courseid" column="CourseID" jdbcType="BIGINT"/>
            <result property="coursename" column="CourseName" jdbcType="VARCHAR"/>
            <result property="coursedescription" column="CourseDescription" jdbcType="VARCHAR"/>
            <result property="coursetime" column="CourseTime" jdbcType="TIMESTAMP"/>
            <result property="courselocation" column="CourseLocation" jdbcType="VARCHAR"/>
            <result property="trainerid" column="TrainerID" jdbcType="BIGINT"/>
            <result property="trainername" column="TrainerName" jdbcType="VARCHAR"/>
            <result property="coursefee" column="CourseFee" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        CourseID,CourseName,CourseDescription,
        CourseTime,CourseLocation,TrainerID,
        TrainerName,CourseFee
    </sql>
</mapper>
