<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.GymEquipmentMapper">

    <resultMap id="BaseResultMap" type="generator.domain.GymEquipment">
            <id property="equipmentid" column="EquipmentID" jdbcType="BIGINT"/>
            <result property="equipmentname" column="EquipmentName" jdbcType="VARCHAR"/>
            <result property="equipmentquantity" column="EquipmentQuantity" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        EquipmentID,EquipmentName,EquipmentQuantity
    </sql>
</mapper>
